@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

// custom search banner customizations
.custom-search-banner-wrap {
  margin: 0 auto !important;
  max-width: unset;
  color: var(--secondary);
  h1 {
    font-size: 4em;
  }
  p {
    font-size: 1.25em !important;
    font-weight: bold;
    margin-bottom: 1em;
  }
  .btn {
    height: 100%;
  }
  .search-menu input[type="text"] {
    border: 1px solid transparent;
    border-radius: 0.25em;
    min-height: 40px;
    &:focus {
      outline: 3px solid rgba(var(--primary-rgb), 0.35);
    }
  }
  .widget-link.show-help {
    color: rgba(var(--primary-rgb), 0.75);
    border-radius: 0.5em;
    padding: 0.5em;
    background-color: rgba(var(--secondary-rgb), 0.25);
    &:hover {
      color: var(--primary);
    }
  }
  .search-menu .search-input {
    border-color: var(--tertiary-hover);
    outline: 1px solid var(--tertiary-hover);
  }
  .results {
    top: 43px;
    border-radius: 0.25em;
  }
  .search-context {
    top: 3.25em;
    right: 1em;
  }
}

.search-input {
  border-radius: 0.25em;
}

.display-search-banner {
  #main-outlet {
    padding-top: 2em;
  }
}

// Ideally the search banner component should be set to use the below-site-header outlet,
// but this ensures the default works too
.above-main-container-outlet.search-banner {
  .custom-search-banner-wrap {
    padding: 1em 0 2em;
    color: #FFFFFF;
    .mobile-view & {
      color: var(--secondary);
    }
    h1 {
      margin-bottom: 0;
    }
    .search-widget {
      margin-top: 2em;
    }
  }
}

// Main customizations
.alert {
  margin: 1em 0;
}

.topic-list .topic-list-header .topic-list-data,
.topic-list .topic-list-item .topic-list-data {
  padding: 15px 5px;
}

.navigation-topics .topic-list .topic-list-body .topic-list-data,
.navigation-topics .topic-list .topic-list-header .topic-list-data {
  flex: unset;
}

.badge-wrapper.box {
  border-radius: 0.25em;
  overflow: hidden;
}

.badge-wrapper.bullet {
  .badge-category-bg {
    border-radius: 0.125em;
  }
  .badge-category-parent-bg {
    border-top-left-radius: 0.125em;
    border-bottom-left-radius: 0.125em;
    + .badge-category-bg {
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 0.125em;
      border-bottom-right-radius: 0.125em;
    }
  }
}

.discourse-tags {
  gap: 0.5em;
}

.discourse-tag {
  font-size: $font-down-1;
  border-radius: 0.25em;
  padding: 0.15em 0.25em 0.15em 0.35em;
  background-color: var(--primary-low);
  color: var(--primary) !important;
  &:hover {
    background-color: var(--primary-low-mid);
    color: var(--primary);
  }
}

.discourse-tags .discourse-tag.simple:not(:last-child)::after,
.list-tags .discourse-tag.simple:not(:last-child)::after,
.search-category .discourse-tag.simple:not(:last-child)::after {
  content: "";
  margin-left: unset;
}

.topic-list .link-bottom-line .discourse-tag.simple:after,
.topic-list .link-bottom-line .discourse-tag.box {
  margin-right: 0px;
}

#site-text-logo {
  color: var(--primary);
}

.mobile-view {
  .cm-header-links {
    display: none;
  }
  .list-controls .nav-pills .drop li:first-of-type {
    display: none;
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.select-kit.combo-box .select-kit-header,
.d-editor-textarea-wrapper,
div.ac-wrap {
  border-radius: 4px;
}
.d-header {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

.d-header-icons .d-icon {
  border-radius: 100px;
}

.d-header-icons .icon {
  border-radius: 0.25em;
  margin-left: 0.3em;
  border: 1px solid transparent;
  svg {
    font-size: 1.25em;
  }
}

.d-header-icons .icon img.avatar {
  border-radius: 0.25em;
}

.menu-panel.drop-down {
  margin-top: 1em;
  border-radius: 0.5em;
  border: 1px solid var(--primary-low-mid);
}

.drop-down-mode .d-header-icons .active .icon {
  border: 1px solid transparent;
  .d-icon {
    color: #FFFFFF;
  }
}

.drop-down-mode .d-header-icons .active .icon:hover {
  border: 1px solid transparent;
}

.menu-panel .widget-link:hover,
.menu-panel .widget-link:focus,
.menu-panel .categories-link:hover,
.menu-panel .categories-link:focus {
  background-color: rgba(var(--tertiary-rgb), 0.5);
}

.btn:not(.themes-tab):not(.components-tab),
.select-kit.dropdown-select-box .dropdown-select-box-header {
  border-radius: 8px;
  border: 1px solid transparent;
}

.post-admin-menu.popup-menu {
  .btn.widget-button {
    border-radius: 0px;
  }
}

.unread-high-priority-notifications {
  background: var(--quaternary);
}

.timeline-container .topic-timeline .timeline-handle {
  background-color: #FFFFFF;
}

.timeline-container .topic-timeline .timeline-scrollarea {
  border-left-color: #FFFFFF;
}

// graceful ish style
@mixin box-shadow($value: 0px) {
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
}

html {
  body {
    background:#FFFFFF;
  }
  .background-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    clip-path: ellipse(424% 65% at 0% 0%);
    background-image: url("https://mith-theme-images.s3.amazonaws.com/theme-2-jack-harlow/community-image-landing-hero.png");
    background-size: cover;
    background-position: center;
  }
}

//this is for special purpose

.lightbox-wrapper .lightbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 5px;
  float: right;
  width: 32%;
  margin-left: 5px;
}
.lightbox-wrapper {
  display: block;
}

html body #main-outlet {
  margin-top: 280px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 5px;
  padding: 3em 3em 5%;
  max-width: 1150px;
  .archetype-regular & {
    min-height: 500px;
  }
  @media screen and (max-width: 700px) {
    padding: 1.5em;
    margin-top: 0;
  }
  padding-bottom: 5% !important; //overriding inline style
  @include box-shadow;
  @media screen and (max-width: 1120px) {
    width: 80%;
  }
  @media screen and (max-width: 1075px) {
    width: 85%;
  }
}

.nav-pills:not(.user-nav) > li a.active,
.nav-pills:not(.user-nav) > li > a {
  border-radius: 0.5em;
}

// Topic List

@keyframes background-fade-highlight {
  0% {
    background-color: var(--highlight-low);
  }
  100% {
    background-color: var(--secondary);
  }
}

.full-width .contents .topic-list {
  border-collapse: separate;
  border-spacing: 0 0.25em;
  display: contents;
  .topic-list-header {
    tr {
      display: flex;
      border-bottom: none;
    }
    display: contents;
    .topic-list-data.default {
      width: 63%;
    }
    .topic-list-data.posters {
      width: 7%;
    }
    .topic-list-data.posts {
      width: 15%;
    }
    .topic-list-data.activity {
      width: 15%;
    }
  }
  .topic-list-body {
    display: contents;
    .topic-list-item-separator {
      width: 100%;
      margin: 0.75em 0;
      display: flex;
      .topic-list-data {
        width: 100%;
      }
    }
    .topic-list-item {
      width: 100%;
      display: flex;
      margin-bottom: 0.5em;
      background-color: var(--secondary);
      border-bottom: 1px solid rgba(var(--primary-rgb), 0.2);
      position: relative;
      overflow: hidden;
      &.visited {
        border-bottom: 1px solid rgba(var(--primary-rgb), 0.1);
        .discourse-tag {
          opacity: 0.75;
        }
        &:hover {
          border: 1px solid rgba(var(--primary-rgb), 0.25);
          .discourse-tag {
            opacity: 1;
          }
        }
      }
      &:hover {
        background-color: var(--secondary);
        box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(var(--primary-rgb), 0.3);
        a.title:not(.badge-notification),
        a.topic-excerpt {
          color: var(--primary) !important;
        }
      }
      .topic-list-data.main-link {
        width: 63%;
        order: 2;
      }
      .topic-list-data.posters {
        width: 7%;
        order: 1;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        a:not(.latest) {
          display: none;
        }
      }
      .topic-list-data.posts {
        width: 15%;
        order: 3;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .topic-list-data.age {
        width: 15%;
        order: 4;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.topic-list-data.num.views {
  display: none;
}

.full-width .contents .topic-list .topic-list-item .posters a.latest {
  margin-right: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  .avatar {
    margin-right: 0;
  }
}

.full-width .contents .topic-list {
  .topic-list-item {
    .main-link {
      min-height: 100%;
      min-height: 100%;
      .link-top-line {
        display: block;
        margin-bottom: 0.25em;
      }
      .title {
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
        font-size: 32px;
      }
      .link-area {
        display: flex;
        .link-title-area {
          margin-right: 1em;
          font-size: $font-up-1;
        }
        .link-meta-area {
          font-size: $font-down-3;
          display: flex;
          align-items: center;
        }
      }
    }
    .posters {
      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 8px;
      }
      a.latest {
        .avatar {
          margin-right: 0;
        }
      }
      a:not(.latest) {
        margin-left: -22px;
        .avatar {
          border: 3px solid var(--secondary);
        }
      }
    }
    .posts-map,
    .num.age.activity {
      a {
        padding: 0;
      }
    }
    .posts-map {
      position: relative;
      .number {
        margin-right: 0.25em;
      }
    }
    .post-activity {
      .d-icon-reply {
        color: var(--primary-medium);
        margin-right: 0.25em;
      }
      .relative-date {
        color: var(--primary-medium);
      }
    }
  }
}

.navigation-container {
  margin-top: 20px !important;
}

// published page additions
.published-page-content-wrapper {
  max-width: 1000px;
  margin-top: 30px;
  margin-bottom: 50px;
  background: var(--secondary);
  border-radius: 1em;
  padding: 3em 3em 5%;
  box-shadow: 0 24px 40px rgba(0, 0, 0, 0.07),
    0 10.8529px 24.1177px rgba(0, 0, 0, 0.0456112),
    0 4.50776px 10.0172px rgba(0, 0, 0, 0.035),
    0 1.63037px 3.62304px rgba(0, 0, 0, 0.0243888);
  z-index: 1;
  position: relative;
}

.published-page {
  .background-container {
    display: none;
  }
  &::before {
    background: linear-gradient(
      90deg,
      var(--tertiary-hover) 0%,
      #FFFFFF 100%
    );
    clip-path: ellipse(148% 70% at 91% -14%);
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: 0;
  }
}

.quote-button {
  background-color: var(--primary-low-mid);
  border-radius: 0.5em;
}

.topic-list tr.selected td:nth-child(2),
.topic-list-item.selected td:nth-child(2),
.latest-topic-list-item.selected,
.search-results .fps-result.selected {
  box-shadow: inset 3px 0 0 var(--danger);
}

.topic-list tr.selected td:first-child,
.topic-list-item.selected td:first-child,
.latest-topic-list-item.selected,
.search-results .fps-result.selected {
  box-shadow: none;
}

.topic-list .main-link.focused + .posters {
  box-shadow: inset 3px 0 0 #FFFFFF;
}

.topic-list .main-link.focused {
  box-shadow: none;
}

//Adding new css

.sidebar-section-link-prefix.span {
  margin-left: 0px;
}

.sidebar-section-link-prefix.icon {
  margin-left: 3px;
}
.sidebar-section-link-wrapper .sidebar-section-link.active .sidebar-section-link-prefix.icon{
    margin: 0px!important;
    padding-left: 3px;
}
.sidebar-custom-sections .sidebar-section[data-section-name="community"] .sidebar-section-link-prefix.icon {
  margin: 0px !important;
}
.topic-excerpt {
  font-size: 19px !important;
  font-family: 'Roboto', sans-serif !important;
}

//New css for header//

/* ## DEFAULT DISCOURSE UPDATES ## */
:root {
  --shadow-header: 0px;
}

body {
  padding: 7.5px;
  font-family: Helvetica;
}

@media (min-width: 640px) {
  body {
    padding: 20px;
  }
}

#current-user {
  display: none;
}

.btn {
  border-radius: 10px;
}

.input-xxlarge {
  border-radius: 10px;
}

input {
  border-radius: 10px !important;
}


.d-header.clearfix {
  height: 90%;
}

.d-header-wrap {
  z-index: 11 !important;
  position: absolute;
  display: contents;
}

#topic-progress-wrapper {
  z-index: 10 !important;
}

.contents .header-sidebar-toggle {
  visibility: hidden;
}

.contents .logo-big {
  visibility: hidden;
}

.my-logo .logo-big {
  visibility: initial;
  width: 121px !important;
  height: 24px !important;
}

.bootstrap-mode {
  visibility: hidden;
}

.d-header.clearfix {
  height: 90%;
}

.contents .header-sidebar-toggle {
  visibility: hidden;
}

.contents .logo-big {
  visibility: hidden;
}

.my-logo .logo-big {
  visibility: initial;
  width: 121px !important;
  height: 24px !important;
}

.bootstrap-mode {
  visibility: hidden;
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(195 135 75/var(--tw-bg-opacity));
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(195 135 75 / var(--tw-text-opacity));
}


.text-community {
  --tw-bg-opacity: 1;
  background-color: rgb(195 135 75/var(--tw-bg-opacity));
  border-radius: 1.5rem;
  padding: 0px 8px 0px 8px;
  color: white;
}


.dropbox-community {
  margin-left: 0px;
  padding-right: 15px;
  margin-top: -11px;
}

.z-30 {
  z-index: 30;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.w-full {
  width: 100%;
}

@media (min-width: 1024px) {
  .lg\:z-20 {
    z-index: 20;
  }
}

.z-menu {
  z-index: 9 !important;
}

@media (min-width: 1024px) {
  .z-menu {
    z-index: 11 !important;
  }
}

@media (min-width: 640px) {
  .sm\:m-5 {
    margin: 1.25rem;
  }
}

.fixed {
  position: fixed;
}

.left-0 {
  left: 0px;
}

.top-0 {
  top: 0px;
}

.z-\[100\] {
  z-index: 100;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.h-screen {
  height: 100vh;
}

.w-screen {
  width: 100vw;
}

.justify-start {
  justify-content: flex-start;
}

.gap-2 {
  gap: 0.5rem;
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.bg-opacity-50 {
  --tw-bg-opacity: 0.5;
}

.p-2 {
  padding: 0.5rem;
}

.backdrop-blur-md {
  --tw-backdrop-blur: blur(12px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@media (min-width: 640px) {
  .sm\:p-5 {
    padding: 1.25rem;
  }
}

@media (min-width: 1024px) {
  .lg\:z-20 {
    z-index: 20;
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}


/* footer */


.footer-mith {
  body {
    font-family: Helvetica;
    /* CSS Variables that may have been missed get put on body */
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-text-opacity: 1;
  }

  * {
    box-sizing: border-box;
    border: 0 solid #e9ecef;
    max-width: 1728px;
    width: 100%;
  }

  @media (min-width: 640px) {
    .sm\:px-4 {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }
  
  .w-full {
    width: 100%;
  }

  body {
    margin: 0;
    line-height: inherit;
  }

  body {
    --tw-bg-opacity: 1;
    background-color: rgb(235 230 222/var(--tw-bg-opacity));
  }

  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
  }

  html {
    --tw-bg-opacity: 1;
    background-color: rgb(235 230 222/var(--tw-bg-opacity));
  }

  *,
  :after,
  :before {
    box-sizing: border-box;
    border: 0 solid #e9ecef;
  }

  .mb-2 {
    margin-bottom: .5rem;
  }

  .m-0 {
    margin: 0;    
  }
  
  .grid {
    display: grid;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-8 {
    gap: 2rem;
  }

  .rounded-system {
    border-radius: 30px;
  }

  .bg-light {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
  }

  .p-7 {
    padding: 1.75rem;
  }

  .p-8 {
    padding: 2rem;
  }

  .font-bold {
    font-weight: 700;
  }

  @media (min-width: 640px) {
    .sm\:h-64 {
      height: 16rem;
    }

    .sm\:grid-flow-col {
      grid-auto-flow: column;
    }

    .sm\:justify-normal {
      justify-content: normal;
    }

    .sm\:flex-row {
      flex-direction: row;
    }
  }

  .typo-6 {
    font-size: 16px;
    line-height: 17.6px;
  }

  @media (min-width: 640px) {
    .typo-6 {
      font-size: 16px;
      line-height: 17.6px;
    }
  }

  .max-w-lg {
    max-width: 32rem;
  }

  .justify-between {
    justify-content: space-between;
  }

  .gap-4 {
    gap: 1rem;
  }

  .text-center {
    text-align: center;
  }

  .text-text-dark {
    --tw-text-opacity: 1;
    color: rgb(0 0 0/var(--tw-text-opacity));
  }

  @media (min-width: 640px) {
    .sm\:items-start {
      align-items: flex-start;
    }

    .sm\:text-left {
      text-align: left;
    }
  }

  .bg-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23/var(--tw-bg-opacity));
  }

  .p-4 {
    padding: 1rem;
  }

  @media (min-width: 640px) {
    .sm\:mb-0 {
      margin-bottom: 0;
    }

    .sm\:mr-2 {
      margin-right: .5rem;
    }

    .sm\:flex-grow {
      flex-grow: 1;
    }

    .sm\:items-center {
      align-items: center;
    }
  }

  .bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgb(195 135 75/var(--tw-bg-opacity));
  }

  .max-w-xs {
    max-width: 20rem;
  }

  .gap-7 {
    gap: 1.75rem;
  }

  .text-text-light {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
  }

  .mr-4 {
    margin-right: 1rem;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .mr-2 {
    margin-right: .5rem;
  }

  svg {
    display: block;
    vertical-align: middle;
  }

  .fill-text-dark {
    fill: #000;
  }

  p {
    margin: 0;
  }

  @media (min-width: 640px) {
    .sm\:mb-10 {
      margin-bottom: 2.5rem;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .gap-0\.5 {
    gap: .125rem;
  }

  .leading-none {
    line-height: 1;
  }

  .text-text-invert {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
  }

  .decoration-text-500 {
    text-decoration-color: #2c2e33;
  }

  .hover\:underline:hover {
    text-decoration-line: underline;
  }

  .px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .w-6 {
    width: 1.5rem;
  }

  .shrink-2 {
    flex-shrink: 2;
  }
  
  .flex-1 {
    flex: 1 1 0%;
  }
}

/* navbar */

.navbar-mith {

  body {
    /* CSS Variables that may have been missed get put on body */
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-text-opacity: 1;
    --tw-text-opacity: 1;
    --tw-text-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    --tw-border-opacity: 1;
    --tw-rotate: -90deg;
  }

  * {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e9ecef;
  }

  * {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
  }

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .items-center {
    align-items: center;
  }

  @media (min-width: 640px) {
    .sm\:m-5 {
      margin: 1.25rem;
    }
  }

  body {
    margin: 0;
    line-height: inherit;
  }

  body {
    --tw-bg-opacity: 1;
    background-color: rgb(235 230 222 / var(--tw-bg-opacity));
  }

  html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
  }

  html {
    --tw-bg-opacity: 1;
    background-color: rgb(235 230 222 / var(--tw-bg-opacity));
  }

  .z-30 {
    z-index: 30;
  }

  .mb-2 {
    margin-bottom: 0.5rem;
  }

  .w-full {
    width: 100%;
  }

  @media (min-width: 1024px) {
    .lg\:z-20 {
      z-index: 20;
    }
  }

  *,
  :before,
  :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e9ecef;
  }

  *,
  :before,
  :after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
  }

  :backdrop {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
  }

  .m-auto {
    margin: auto;
  }

  .max-w-\[1728px\] {
    max-width: 1728px;
  }

  .items-start {
    align-items: flex-start;
  }

  .gap-2 {
    gap: 0.5rem;
  }

  .hidden-discourse {
    display: none;
  }

  .h-full {
    height: 100%;
  }

  .typo-5 {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: 640px) {
    .typo-5 {
      font-size: 21px;
      line-height: 23.1px;
    }
  }

  .h-12 {
    height: 3rem;
  }

  .rounded-system {
    border-radius: 30px;
  }

  .bg-light {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }

  .px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .font-bold {
    font-weight: 700;
  }

  .text-dark {
    --tw-text-opacity: 1;
    color: rgb(23 23 23 / var(--tw-text-opacity));
  }

  @media (min-width: 1024px) {
    .lg\:w-fit {
      width: -moz-fit-content;
      width: fit-content;
    }
  }

  .hover\:text-text-200:hover {
    --tw-text-opacity: 1;
    color: rgb(144 146 150 / var(--tw-text-opacity));
  }

  button {
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  button {
    text-transform: none;
  }

  button {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
  }

  button {
    cursor: pointer;
  }

  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 1024px) {
    .lg\:hidden-discourse {
      display: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .absolute {
    position: absolute;
  }

  .right-0 {
    right: 0px;
  }

  .top-10 {
    top: 2.5rem;
  }

  .z-50 {
    z-index: 50;
  }

  .mx-2 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .mt-2 {
    margin-top: 0.5rem;
  }

  .h-auto {
    height: auto;
  }

  .grow {
    flex-grow: 1;
  }

  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (min-width: 1024px) {
    .lg\:static {
      position: static;
    }

    .lg\:m-0 {
      margin: 0px;
    }

    .lg\:flex {
      display: flex;
    }

    .lg\:h-12 {
      height: 3rem;
    }

    .lg\:flex-row {
      flex-direction: row;
    }

    .lg\:justify-center {
      justify-content: center;
    }

    .lg\:gap-4 {
      gap: 1rem;
    }

    .lg\:py-0 {
      padding-top: 0px;
      padding-bottom: 0px;
    }
  }

  .justify-between {
    justify-content: space-between;
  }

  .py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  svg {
    display: block;
    vertical-align: middle;
  }

  .block {
    display: block;
  }

  @media (min-width: 1024px) {
    .lg\:w-auto {
      width: auto;
    }
  }

  .relative {
    position: relative;
  }

  .text-text-600 {
    --tw-text-opacity: 1;
    color: rgb(37 38 43 / var(--tw-text-opacity));
  }

  .hover\:text-text-50:hover {
    --tw-text-opacity: 1;
    color: rgb(193 194 197 / var(--tw-text-opacity));
  }

  .w-\[76px\] {
    width: 76px;
  }

  .max-w-\[320px\] {
    max-width: 320px;
  }

  .flex-row {
    flex-direction: row;
  }

  .justify-center {
    justify-content: center;
  }

  .rounded-button {
    border-radius: 9999px;
  }

  .bg-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(23 23 23 / var(--tw-bg-opacity));
  }

  .duration-100 {
    transition-duration: 100ms;
  }

  .ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  }

  .hover\:bg-primary-hover:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(149 96 43 / var(--tw-bg-opacity));
  }

  .text-center {
    text-align: center;
  }

  @media (min-width: 640px) {
    .sm\:block {
      display: block;
    }

    .sm\:hidden-discourse {
      display: none;
    }
  }

  .gap-1 {
    gap: 0.25rem;
  }

  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }

  .z-40 {
    z-index: 40;
  }

  .w-fit {
    width: -moz-fit-content;
    width: fit-content;
  }

  .pt-2 {
    padding-top: 0.5rem;
  }

  @media (min-width: 1024px) {
    .lg\:top-6 {
      top: 1.5rem;
    }

    .lg\.block {
      display: block;
    }
  }

  .group:hover .group-hover\:block {
    display: block;
  }

  .w-12 {
    width: 3rem;
  }

  .rounded-full {
    border-radius: 9999px;
  }

  .text-light {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  h1 {
    font-size: inherit;
    font-weight: inherit;
  }

  h1 {
    margin: 0;
  }

  .typo-1 {
    font-size: 48px;
    line-height: 43.2px;
  }

  @media (min-width: 640px) {
    .typo-1 {
      font-size: 67px;
      line-height: 60.3px;
    }
  }

  .leading-10 {
    line-height: 2.5rem;
  }

  .typo-6 {
    font-size: 16px;
    line-height: 17.6px;
  }

  @media (min-width: 640px) {
    .typo-6 {
      font-size: 16px;
      line-height: 17.6px;
    }
  }

  .-ml-1 {
    margin-left: -0.25rem;
  }

  .border {
    border-width: 1px;
  }

  .border-dark {
    --tw-border-opacity: 1;
    border-color: rgb(23 23 23 / var(--tw-border-opacity));
  }

  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }

  @media (min-width: 1024px) {
    .lg\:border-light {
      --tw-border-opacity: 1;
      border-color: rgb(255 255 255 / var(--tw-border-opacity));
    }
  }

  img {
    display: block;
    vertical-align: middle;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .object-contain {
    -o-object-fit: contain;
    object-fit: contain;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  hr {
    margin: 0;
  }

  .h-\[16px\] {
    height: 16px;
  }

  .w-\[16px\] {
    width: 16px;
  }

  .-ml-\[3px\] {
    margin-left: -3px;
  }

  .-mt-\[3px\] {
    margin-top: -3px;
  }

  .h-8 {
    height: 2rem;
  }

  .w-8 {
    width: 2rem;
  }

  .typo-4 {
    font-size: 25px;
    line-height: 27.5px;
  }

  @media (min-width: 640px) {
    .typo-4 {
      font-size: 28px;
      line-height: 30.8px;
    }
  }

  .-rotate-90 {
    --tw-rotate: -90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .z-1000 {
    z-index: 1000;
  }

  .text-invert-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity));
  }

  .bg-primary-selected {
    --tw-bg-opacity: 1;
    background-color: rgb(195 135 75 / var(--tw-bg-opacity));
  }

  .header-padding {
    padding: 7px 7px 0px 7px;
  }

  .menu-mobile {
    padding-right: 15px;
    padding-bottom: 20px;
  }

  @media (min-width: 1024px) {

    .header-padding {
      padding: 0px;
    }

    .menu-mobile {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      height: inherit;
    }
  }

  .text-primary {
    --tw-text-opacity: 1;
    color: rgb(195 135 75 / var(--tw-text-opacity));
  }

  .height-menu {
    height: 48px;
  }

}


//d-header

.d-header{display: none!important}




